@import "whitespace-reset.css"
@import "mixins"

body
  font: normal 16px "Lato", sans-serif
  color: colors.text

h1
  padding: 0 0 25px 0
  font-size: 2em

form
  dt
    padding: 0 0 5px 0
  dl
    padding: 0 0 20px 0
  input[type="text"],
  input[type="date"],
  input[type="url"]
    width: 100%
    height: 30px
    padding: 5px 8px
    border: 1px solid colors.border
    border-radius: 6px
    box-sizing: border-box

main
  clear: both
  width: 800px
  padding: 25px 40px
  margin: 0 auto
  background: colors.main

#index
  ul
    padding: 0 0 40px 0
    margin: 0 0 0 -20px
    li
      display: inline-block
      width: 20%
      padding: 0 0 25px 20px
      vertical-align: top
      box-sizing: border-box
      img
        display: block
        width: 100%
        margin: 0 0 10px 0
      h2, h3, p
        padding: 0 0 5px 0
      h2
        font-size: 1.5em
      h3
        font-size: 1.25em

a.button, input[type="submit"]
  button()

header
  width: 800px
  padding: 0 40px
  margin: 0 auto

#cart
  position: relative
  float: right
  width: 50%
  padding: 15px 0 0 0
  text-align: right
  label
    display: inline-block
    padding: 2px 3px
    cursor: pointer
  input
    display: none
    &:checked
      + #items
        display: block
  #items
    display: none
    position: absolute
    top: 100%
    right: 0
    z-index: 1
    padding: 5px 10px
    color: colors.button.text
    background: colors.button.bg
    li
      padding: 5px 0
      text-align: left
      font-size: 12px

    small
      float: right
      margin: 0 0 0 10px
      font-size: 11px
    a
      float: left
      position: relative
      width: 12px
      height: 12px
      margin 0 5px 0 0
      overflow: hidden
      text-indent: 8685px
      transform: rotate(45deg)
      &:before,
      &:after
        position: absolute
        content: ''
        background: colors.delete
      &:before
        top: 0
        bottom: 0
        left: 50%
        margin-left: -1px
        width: 2px
      &:after
        top: 50%
        right: 0
        left: 0
        height: 2px
        margin-top: -1px
