<form action="/albums" method="post">
  <h1>Add Album</h1>
  <fieldset>
    <dl>
      <dt>
        <label>Title</label>
      </dt>
      <dd>
        <input type="text" name="title" />
      </dd>
      <dt>
        <label>Artist</label>
      </dt>
      <dd>
        <input type="text" name="artist" />
      </dd>
      <dt>
        <label>Date</label>
      </dt>
      <dd>
        <input type="date" name="date" />
      </dd>
      <dt>
        <label>Cover</label>
      </dt>
      <dd>
        <input type="url" name="cover" />
      </dd>
      <dt>
        <label>Price</label>
      </dt>
      <dd>
        <input type="text" name="price" />
      </dd>
  </fieldset>
  <fieldset class="actions">
    <input type="submit" value="Create" />
  </fieldset>
</form>
